<div class="ui" style="background-color: #ede7f6;">
  <div class="ui secondary center aligned grid padded segment" style="background-color: #EEE3FD;">
    <div class="two wide column" style="padding: 0;">

      <img class="ui right aligned container image" src="/assets/images/UWO Stacked.png" style="width: 80px; height: 80px; padding: 0;">
    </div>

    <div class="fourteen wide column">
      <h2 style="font-size: 40px; margin-top: 0; color: #4e2683;">Western Engineering Student Adjudication System</h2>
    </div>

  </div>
  {{outlet}}
  <br>
  <footer>
    <div class="ui violet inverted grid segment">
      <div class="sixteen wide column" style="text-align: center; color: black; background-color: #CEB1F4;">
        © Copyright - Genesis Ideas
      </div>
    </div>
  </footer>

</div>
