<div class="ui segment container">
  <div class="ui secondary center aligned grid padded segment">
    <div class="three wide column">

      <img class="ui right aligned container image" src="/assets/images/UWO Stacked.png">
    </div>
    <div class="thirteen wide column">
      <br>
      <h2>Welcome to Western Engineering Adjudication System</h2>
    </div>

  </div>
  <br> <br>
  {{outlet}}
  <br> <br>
  <footer>
    <div class="ui violet inverted grid segment">
      <div class="thirteen wide column">
        © Copyright - Dr. Abdelkader Ouda
      </div>
      <div class="three wide column">
        <img class="ui right aligned container tiny image" src="/assets/images/UWO Stacked_Rev.png">
      </div>
    </div>
  </footer>

</div>