<div class="ui">
  <div class="ui secondary center aligned grid padded segment">
    <div class="three wide column">

      <img class="ui right aligned container image" src="/assets/images/UWO Stacked.png" style="width: 75px; height: 75px;">
    </div>
    <div class="thirteen wide column">
      <br>
      <h2 style="font-size: 35px; margin-top: 0;">Western Engineering Adjudication System</h2>
    </div>

  </div>
  <!--<br> <br>-->
  {{outlet}}
  <br> <br>
  <footer>
    <div class="ui violet inverted grid segment">
      <div class="sixteen wide column" style="text-align: center;">
        © Copyright - Genesis Ideas
      </div>
    </div>
  </footer>

</div>