<h2>SE3352 Tutorials</h2>
<P>
  Description: Without determining of the user requirements, a software development process cannot begin – and without accurate analysis of those requirements, a project will bog down in development problems. The goal of this course is to provide students with a concepts and tools allowing them to capture correctly and completely the requirements and needs of a software system under development and the expectations of the potential user.
  The computer labs guide students capturing and managing requirements for software projects through building and adding data to a class project within the context of a controlled requirements management process.
</P>

{{show-logo}}
