<div class="ui center aligned header">
  <h2>Add Residency</h2>
</div>

<div class="ui middle aligned divided list">
  {{#each residencyModel as |oneResidency|}}
    <div class="item">
      <div class="content">
        <div class="header">
          <h3>
            {{oneResidency.name}} <button class="negative ui button" onclick={{action 'deleteResidency' oneResidency}} style = "float: right;">Delete</button>
          </h3>
        </div>

      </div>
    </div>
  {{/each}}

</div>


<div class="ui grid">
  <div class="ui middle aligned sixteen wide column">
    <div class="ui form">
      <div class="inline field">
        <label style= "font-size: 20px;">Residency</label>
        {{input type="text"  value = residencyName}}
      </div>
    </div>
  </div>
</div>

<div class="ui center aligned header">
  <button class="positive ui button" {{action 'addResidency'}}>
    Add Residency
  </button>
</div>
