<div class="ui center aligned header">
  <h2>High School Subjects</h2>
</div>

<div class="ui middle aligned divided list">
  {{#each hsSubjectModel as |onehsSubject|}}
    <div class="item">
      <div class="content">
        <div class="header">
          <h3>
            {{onehsSubject.name}} <button class="negative ui button" onclick={{action 'deletehsSubject' onehsSubject}} style = "float: right;">Delete</button>
          </h3>
        </div>

      </div>
    </div>
  {{/each}}

</div>
