{{#if VCI01IsPermitted }}
<h2> Contact Instructor </h2>
<h3> Dr. Abdelkader Ouda </h3>


<div class="ui grid">
  <div class="eight wide column">
    <div class="ui list">
      <div class="item">
        {{#link-to 'contact.phone'}}
          <i class="phone icon"></i>
          Phone
        {{/link-to}}
      </div>
      <div class="item">
        {{#link-to 'contact.email'}}
          <i class="mail icon"></i>
          Email
        {{/link-to}}
      </div>
    </div>
  </div>
  <div class="eight wide column">
    {{outlet}}
  </div>
</div>
<br><br><br>
{{else}}
  <div class="ui center aligned raised segment">
    <div class="ui icon header">
      <i class="protect icon"></i>
      Permission Denied
    </div>
    <div>
      <p>This feature (VCI01) is not allowed for your account.</p>
      <p>Please contact the system administrator for more information.</p>
    </div>

  </div>

{{/if}}
