<label>{{filetobeloaded}}</label>
<button class="ui button" >
  {{#file-picker fileLoaded="fileLoaded" accept=".xlsx" readAs="readAsBinaryString"}}
  Upload Student Data
  {{/file-picker}}</button>
  <button class="positive ui button" {{action 'deleteall'}}>
    Deleteall
  </button>
  <div class="ui segment">
    <div class="ui active dimmer">
      <div class="ui text loader">Loading</div>
    </div>
    <p></p>
  </div>
