<button class="ui button" >
      {{#file-picker fileLoaded="fileLoaded" accept=".xlsx" readAs="readAsBinaryString"}}
        Upload Student Data
    {{/file-picker}}</button>
    <button class="positive ui button" {{action 'deleteall'}}>
      Deleteall
    </button>
