{{#if true}}
<h2 style="text-align: center;" id="uploader">Upload Files</h2>
<h4 style="text-align: center; color:red;">{{filetobeloaded}}</h4>
<div style="text-align: center;">
  <button class="primary ui button">
    {{#file-picker fileLoaded="fileLoaded" accept=".xlsx" readAs="readAsBinaryString"}}
    Upload File
    {{/file-picker}}
  </button>

  <button class="negative ui button" {{action 'deleteall'}}>
    Delete All Records
  </button>
</div>
{{/if}}
<div class="ui segment">
  <div class="ui active dimmer">
    <div class="ui indeterminate text loader">Preparing Files</div>
  </div>
  <p></p>
</div>
