<div class="ui grid">

  <div class="eight wide column" style="padding-right: 20px;">
    <div class="ui center aligned header" style="margin-bottom: 30px;">
      <h2>Logical Expression</h2>
    </div>
    <div class ="ui grid">
      <div class="six wide column" style="padding-right: 20px;">
        <div class="ui center aligned header" style="margin-bottom: 30px;">
          <select class="ui search dropdown" id='search'>
          </select>
        </div>
        <div class="six wide column" style="padding-right: 20px;">
          <div class="ui center aligned header" style="margin-bottom: 30px;">
            <select class="ui search dropdown" id='bool'>
            </select>
          </div>
          <div class="six wide column" style="padding-right: 20px;">
            <div class="ui center aligned header" style="margin-bottom: 30px;">
              <select class="ui search dropdown" id='value'>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
