{{#if logoIsShowing}}
  <button class="ui button" {{action 'hideLogo'}}>
    Hide Logo
  </button>
  <img class="ui centered image" src="/assets/images/se3352a.png">
{{else}}

  <button class="ui button" {{action 'showLogo'}}>
    Show Logo
  </button>
{{/if}}

