
<div class="ui center aligned header" style="margin-bottom: 20px;">
  <h2>StudentAssessment</h2>
</div>

<button class="ui primary button" {{action 'adjudicateStudents'}} >
  Adjudicate students
</button>

<button class="ui primary button" {{action 'generatePDFs'}} >
  Generate sample PDFs
</button>

<button class="ui primary button" {{action 'generateExcelFiles'}}>
  Generate sample excel files
</button>
