<a>
  {{#link-to 'user'}}User Profile{{/link-to}}
</a>

<a>
  {{#link-to 'admin-portal'}}Admin Portal{{/link-to}}
</a>

<a>
  {{#link-to 'import'}}Import Data{{/link-to}}
</a>

<a>
  {{#link-to 'posts'}}Posts{{/link-to}}
</a>
