<button class = "ui button massive" {{action 'userProfile'}}>
  User Profile
</button>

<button class = "ui button massive" {{action 'adminPortal'}}>
  Admin Portal
</button>

<button class = "ui button massive" {{action 'importData'}}>
  Import Data
</button>

<button class = "ui button massive" {{action 'posts'}}>
  Posts
</button>
