<h1 id="welcomeHeader">Welcome User!</h1>

<div class="ui grid" style="border-style: groove; margin-top: 30px; margin-bottom: 30px; padding: 20px;">
    <div class="row">
        {{!--<div class="eight wide column">
            {{assign-adjudication}}
        </div>--}}
        <div class="sixteen wide column">
            {{file-upload}}
        </div>
    </div>
</div>