<h1 style="text-align: center;">Welcome to Western Engineering Student Adjudication System!</h1>

{{!--<div class="ui secondary center aligned grid padded segment" style="background-color: #EEE3FD;">
    
    <div class="two wide column" style="padding: 0;">
      <img class="ui right aligned container image" src="/assets/images/UWO Stacked.png" style="width: 100px; height: 100px; padding: 0;">
    </div>

    <div class="fourteen wide column">
      <h2 style="font-size: 40px; margin-top: 10px; color: #4e2683;">Western Engineering Student Adjudication System</h2>
    </div>

</div>--}}