<br>
<h2>This is a sample Ember code showing:</h2>
<ul>
  <br>
  <li>The solution of SE3352a assignment 2</li>
  <br>
  <li>The powerful of Ember Components</li>
  <br>
  <li>The integration with Semantic-UI</li>
  <br><br><br>
</ul>
